
<div class="container">
  <table>
    <caption>{{title}}</caption>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Codifce Fiscale</th>
      <th>E-mail</th>
      <th>Telefono</th>
      <th>Provincia</th>
      <th>Età</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.fiscalcode}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.province}}</td>
      <td>{{user.age}}</td>
    </tr>
  </table>

</div>

