.btn-save{
  background-color: aquamarine;
  color: black;
  font-weight: bold;
  padding: 1%;
  width: 80px;
  margin-right: 2%;
}

.form-footer{
  text-align: center;
  padding: 2%;
}

.form-group{
  padding: 2%;
  border: 1px solid silver;
  margin-bottom: 2%;
}
.form-group label{
  display: inline-block;
  text-align: left;
  padding: 1%;
  width: 120px;
}
.form-group input{
  text-align: left;
  padding: 1%;
  width: 150px;
  border: 1px solid #7c7c7c;
}
